.authContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  padding: 20px;
  background: url("../../assets/10001.svg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  /* background-attachment: fixed; */
}

.authContent {
  display: flex;
  flex: 0 0 auto;
  justify-content: space-evenly;
  width: 80%;
  padding: 0px;
  max-width: 60%;
  margin: 0 auto;
  padding: 20px;
}

.about {
  width: 40%;
}

@media (max-width: 780px) {
  .authContainer {
    display: block;
    width: 85vw;
    height: 70vh;
  }
  .authContent {
    display: block;
    width: 100%;
  }
}
